# Some common files on Linux / Max OSX system
.DS_Store
*.tmp
*.swap
__MACOSX/

# Tex related derived files
*.aux
*.log
*.out
*.idx
*.ilg
*.ind
*.lof
*.lot
*.toc

# Compressed/tar files
*.tar.gz
*.tgz
*.zip

# Derived files
output/*
